/*CSS RESET */

* {
  margin: 0;
  box-sizing: content-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*-----------HEADER-----------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}

/*-----------MAIN CONTENT-----------*/

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.calculator-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  max-width: max-content;
  margin-top: 50px;
}

.result {
  background-color: bisque;
  width: 89%;
  height: 50px;
  margin-bottom: 0.5em;
  display: flex;
  align-items: self-end;
  justify-content: flex-end;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 500px;
}

.buttons > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 2.8rem;
  margin: 5px;
}

/*-----------FOOTER-----------*/

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}
